h2, h3 {
    margin-bottom: .5rem
}

.col-lg-5, .col-md-6, .container {
    padding-right: 15px;
    padding-left: 15px;
    width: 100%
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled) {
    cursor: pointer
}

@font-face {
    font-family: FontAwesome;
    src: url(fonts/FontAwesome-Webfont.woff) format("woff")
}

@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto-Regular.woff) format("woff")
}

:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: "Roboto", -apple-system, "BlinkMacSystemFont", "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace
}

*, ::after, ::before {
    box-sizing: border-box
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent
}

section {
    display: block
}

body {
    margin: 0;
    font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    text-align: left;
    min-width: 400px;
}

h2, h3 {
    margin-top: 0;
    font-family: Roboto, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
}

[type=submit] {
    appearance: button
}

[type=submit]::-moz-focus-inner {
    padding: 0;
    border-style: none
}

::-webkit-file-upload-button {
    font: inherit;
    appearance: button
}

h2, h3 {
    font-weight: 500;
    line-height: 1.2
}

h2 {
    font-size: 2rem
}

h3 {
    font-size: 1.75rem
}

.container {
    margin-right: auto;
    margin-left: auto
}

@media (min-width:576px) {
    .container {
        max-width: 540px
    }
}

@media (min-width:768px) {
    .container {
        max-width: 720px
    }

    .col-md-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%
    }
}

@media (min-width:992px) {
    .container {
        max-width: 960px
    }

    .col-lg-5 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
        flex: 0 0 41.66667%;
        max-width: 41.66667%
    }
}

@media (min-width:1200px) {
    .container {
        max-width: 1140px
    }
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px
}

.col-lg-5, .col-md-6 {
    position: relative
}

.justify-content-center {
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important
}

.align-items-center {
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    text-align: center
}

.mb-4 {
    margin-bottom: 1.5rem !important
}

.mb-5 {
    margin-bottom: 3rem !important
}

.p-3 {
    padding: 1rem !important
}

.p-4 {
    padding: 1.5rem !important
}

.text-center {
    text-align: center !important
}

@media (min-width:768px) {
    .p-md-5 {
        padding: 3rem !important
    }
}

body {
    font-size: 16px;
    line-height: 1.8;
    font-weight: 400;
    background: #f8f9fd;
    color: gray
}

.hidden {
    display: none;
}

.ftco-section {
    padding: 2em 0
}

.heading-section {
    font-size: 28px;
    color: #000
}

.content-wrap {
    position: relative;
    background: #fff;
    border-radius: 10px;
    -webkit-box-shadow: 0 10px 34px -15px rgba(0, 0, 0, .24);
    -moz-box-shadow: 0 10px 34px -15px rgba(0, 0, 0, .24);
    box-shadow: 0 10px 34px -15px rgba(0, 0, 0, .24)
}

.content-wrap h3 {
    font-weight: 700;
    font-size: 20px;
    color: #8d448b
}

#output {
    white-space: pre;
    font-size: .7em;
    font-family: monospace;
    border: #343a40 solid 1px;
    line-height: 1.16em;
}

#messages {
    color: red;
    margin: 1em;
}